.create-ingredient-container {
    /* width: 100%; */
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    border-color: var(--border-color);
    border-width: 3px;
    border-style: solid;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-grey);
    box-shadow: 5px 5px 10px #00000025;
}

.create-ingredient-container .text-input {
    margin-left: 20px;
    margin-right: 20px;
}

.create-ingredient-container .text-input-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-ingredient-container h2 {
    
    font-size: 3em;
}

.create-ingredient-container h4 {
    margin-bottom: 0px;
}

.create-ingredient-container button {
    margin: 5px;
}

.time-input-form {
    /* margin: 20px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    translate: 1%;
}

.time-input {
    width: 40px;
    margin: 8px;
    margin-right: 10px;
}

.create-ingredient-container .form-btn {
    color: white;
}

.create-ingredient-container .form-btn:hover {
    font-weight: 600;
    box-shadow: 2px 2px 5px #00000025;
    border-color: var(--border-grey);
}

.create-ingredient-container .submit-form {
    background-color: var(--btn-green);
    color: white;
}

.create-ingredient-container .clear-form {
    background-color: var(--btn-red);
    color: white;
}

.create-ingredient-container .hide-details {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    color: var(--primary-txt-grey);
}



@media (min-width: 601px) {
    .create-ingredient-container {
        width: 60%;
        min-width: 570px;
    }

    .form-btn {
        width: 145px;
    }
}

@media (max-width: 600px) {
    .create-ingredient-container {
        width: 95%;
    }

    .form-btn {
        width: 300px;
    }
}



.hide-details {
    width: 300px;
}

