.create-ingredient-container {
    /* width: 100%; */
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    background-color: var(--primary-green);
    color: var(--primary-cream);
    box-shadow: 5px 5px 10px #00000025;
}

.create-ingredient-container .text-input {
    margin-left: 20px;
    margin-right: 20px;
}

.create-ingredient-container .text-input-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-ingredient-container h2 {
    font-size: 3em;
}

.create-ingredient-container h4 {
    margin-bottom: 0px;
}

.create-ingredient-container button {
    margin: 5px;
}

.time-input-form {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.time-input {
    width: 40px;
    margin: 8px;
    margin-right: 10px;
}

@media (min-width: 601px) {
    .create-ingredient-container {
        width: 60%;
        min-width: 570px;
    }

    .form-btn {
        width: 145px;
    }
}

@media (max-width: 600px) {
    .create-ingredient-container {
        width: 95%;
    }

    .form-btn {
        width: 300px;
    }
}



.hide-details {
    width: 300px;
}

