header {
  width: 100vw;
  background-color: var(--primary-beige);
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center; /* centers navbar vertically */
  padding: 0 16px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-start; /* keep horizontal positioning */
  width: 100%;
  height: 100%;
  align-items: center; /* ensure children are vertically centered */
}

.navbar-light .navbar-brand {
  color: var(--primary-purple);
}

.navbar-light .navbar-brand:hover {
  color: var(--primary-purple);
  text-shadow: 1px;
}

.navbar-brand {
  display: flex;
  align-items: center; /* center image + text together */
  gap: 8px;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}


@media (min-width: 601px) {
  
}

@media (max-width: 600px) {
  header {
    justify-content: center;
  }
}