.ingredient-container {
    margin: auto;
    justify-content: left;
    background-color: #ffffff;
    position: relative;
}

.ingredient-container:hover {
    box-shadow: inset;
}

.ingredient-element-container {
    width: 95%;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.ingredient-element-container h3 {
    margin-bottom: 0px;
    color: var(--secondary-txt-grey);
}

.ingredient-element-container p {
    margin-bottom: 0px;
}

.recipe-ingredient .ingredient-index {
    /* color: var(--border-dark-grey); */
    color: var(--border-dark-grey);
    font-weight: 350;
    font-size: 15px;
    position: absolute;
    right: 5px;
    bottom: 0px;
    text-align: right;
    /* transform: translateY(-25px); */
    
}

.ingredient-container .action-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    justify-content: center;
}

.ingredient-container .action-buttons button {
    width: 30px;
    text-align: center !important;
    justify-content: center;
    padding: 0px;
    background-color: transparent !important;
}

.ingredient-container .action-buttons button:hover {
    border-color: var(--border-grey);
    border-width: 1px;
    border-style: solid;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 5px #00000025;
}

.ingredient-edit-buttons {
    text-align: center;
}

.ingredient-edit-buttons button {
    margin: 5px;
    width: 150px;
    color: var(--secondary-txt-grey);
}

.ingredient-edit-buttons button:hover {
    margin: 5px;
    width: 150px;
    box-shadow: 1px 1px 5px #00000025;
    border-color: var(--border-grey);
}

.ingredient-container input {
    background-color: #fafafa;
    color: var(--secondary-txt-grey);
    border-radius: 3px;
    border-color: var(--border-grey);
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
}

.ingredient-container label {
    color: var(--secondary-txt-grey);
}

.action-buttons .bi {
    color: lightgray;
    color: var(--secondary-txt-grey);
    font-size: 1em;
    margin: 5px;
    
}

.ingredient-container .action-buttons .bi:hover {
    background-color: #f9f9f9;
}

.time-input-form {
    text-align: center;
}

@media (min-width: 601px) {
    .ingredient-container {
        width: 80%;
        text-align: left !important;
    }
}

@media (max-width: 600px) {
    .ingredient-container {
        width: 100%;
        text-align: center;
    }

    .edit-ingredient-input.edit-ingredient-name {
        width: 95%;
        margin: auto;
        text-align: center;
    }
}



@media (prefers-color-scheme: dark) {
    
}