.ingredient-container {
    text-align: left !important;
    justify-content: left;
    background-color: #ffffff;
    position: relative;
}

.ingredient-container:hover {
    box-shadow: inset;
}

.ingredient-element-container {
    width: 95%;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.ingredient-element-container h3 {
    margin-bottom: 0px;
}

.ingredient-element-container p {
    margin-bottom: 0px;
}

.ingredient-container .action-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.ingredient-container .action-buttons button {
    width: 30px;
    text-align: center !important;
    justify-content: center;
    padding: 0px;
    background-color: transparent !important;
}


.ingredient-container .action-buttons .bi {
    color: lightgray;
    font-size: 1em;
    
}

.ingredient-container .action-buttons .bi:hover {
    background-color: #f9f9f9;
}