
.recipe {
    text-align: left;
    padding: 20px;
}

.ingredient-container {
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-beige);
    border-radius: 10px;
    padding: 10px;
}

.subtext {
    color: grey;
}

/*Add media query for desktop only*/


.clear-recipe-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clear-recipe-container button {
    width: 100%;
    background-color: var(--primary-red);
    color: white;
}

@media (min-width: 601px) {
  .recipe {
    width: 60%;
    margin: auto;
}
}

@media (max-width: 600px) {
    .recipe-container {
        width: 95%;
        padding: 0px;
    }

    .recipe {
        width: 100%;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}