.welcome-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
}

.welcome-container .welcome-img {

    width: 80vw;
    max-width: 400px;
    height:auto;
    margin: auto;
}

.welcome-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.welcome-container .get-cooking {
    font-size: 2em;
    background-color: var(--btn-green);
    color: white;
}

@media (min-width: 601px) {
  .welcome-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
    .welcome-container .get-cooking {
        font-size: 1.5em;
    }

    .welcome-container h1 {
        font-size: 2em;
    }
}

@media (max-height: 600px) {
    .welcome-container .welcome-img {

        height: 30vh;
        width: auto;
    }
}