#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 601px) {
  main {
    width: 80vw;
  }
}

@media (max-width: 600px) {
 main {
  width: 90vw;
  min-width: 445px;
 }
}

main {
  max-width: 1280px;
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.recipe-container {
  margin-top: 70px;
}