#root {
  text-align: center;
  width: 100vw;
}

body {
  background-color: var(--primary-bg-color);
}

main {
  padding-top: 70px;
  width: 100%;
  margin: auto;
}

.background-image {
  height: 100vh;
  min-width: 100vw;
  min-height: calc(100vw / (2952/4428)); /*bkground image size - 2952 × 4428*/
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  opacity: 3%;
  z-index: 0; 
  margin: auto;
}

.app-container{
  position: relative;
  z-index: 1 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

