#root {
  text-align: center;
  width: 100vw;
}

main {
  max-width: 1280px;
  margin: auto;
}

.background-image {
  height: 100vh;
  min-width: 100vw;
  min-height: calc(100vw / 1.51); /*bkground image size - 4928 × 3264*/
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  /* opacity: 50%; */
  z-index: -1;
  margin: auto;
}

@media (min-width: 601px) {
  main {
    width: 80vw;
  }
}

@media (max-width: 600px) {
 main {
  width: 90vw;
  /*min-width: 445px;*/
 }
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

