/* @import url("https://use.typekit.net/ztg3jcn.css"); */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* width: 100vw !important; */
  /* overflow: hidden; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg-color: #ffffff/*d4*/;
  --border-color: #55beec;
  --border-grey: #e9e9e9;
  --border-dark-grey:rgb(203, 203, 203);
  --btn-green: #498467;
  --btn-blue: #1051ba;
  --btn-red: #B84C3A;
  --primary-purple: #60495A;
  --primary-txt-grey: #404040;
  --secondary-txt-grey: #404040; /*do not delete or move to media query*/
  --primary-green: #6b8056;
  --primary-red: #B84C3A;
  --primary-yellow: #DAA520;
  --primary-beige: #D2B48C;
  --primary-cream: #fffff5;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-grey);
  margin: 0;
  display: flex;
  /*place-items: center;*/
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  padding: 0px;
}



#root {
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-txt-grey)!important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: #ffffff/*d4*/;
    --border-color: #55beec;
    --border-grey: #e9e9e9;
    --border-dark-grey:rgb(203, 203, 203);
    --btn-green: #498467;
    --btn-blue: #1051ba;
    --btn-red: #B84C3A;
    --primary-purple: #60495A;
    --primary-txt-grey: #404040;
    --primary-green: #6b8056;
    --primary-red: #B84C3A;
    --primary-yellow: #DAA520;
    --primary-beige: #D2B48C;
    --primary-cream: #fffff5;
    color: var(--primary-purple);
    background-color: var(--primary-bg-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #404040/*d4*/;
    --border-color: #55beec;
    --border-grey: rgb(203, 203, 203);
    --border-dark-grey:#e9e9e9;
    --btn-green: #498467;
    --btn-blue: #1051ba;
    --btn-red: #B84C3A;
    --primary-purple: #60495A;
    --primary-txt-grey: #ffffff;
    --primary-green: #6b8056;
    --primary-red: #B84C3A;
    --primary-yellow: #DAA520;
    --primary-beige: #D2B48C;
    --primary-cream: #fffff5;
    /* color: var(--primary-purple);
    background-color: var(--primary-bg-color); */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 601px) {
    .mob-only {
      display: none;
    }
}

@media (max-width: 600px) {
  .mob-only {
      display: block;
    }
}