:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* width: 100vw !important; */
  /* overflow: hidden; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg-color: #F0F0D8;
  --primary-purple: #60495A;
  --primary-green: #498467;
  --primary-red: #B84C3A;
  --primary-yellow: #DAA520;
  --primary-beige: #D2B48C;
}

main {
  padding-top: 70px;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-purple);
  margin: 0;
  display: flex;
  /*place-items: center;*/
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  padding: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-purple)!important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-purple);
    background-color: var(--primary-bg-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
